.chatList {
  flex: 1;
  overflow: auto;
  position: relative;

    /* Scrollbar width  is kept constant at 8px - visibility is controlled with opacity. */
    /* If visibility is controlled by keeping default width 0 and then providing a non-zero width, 
    the scrollbar pushes existing elements by 8px when it appears on hover */

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent; 
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(17, 25, 40, 0.01); /* almost invisible by default, but keep non-zero opacity */
      border-radius: 10px;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba(17, 25, 40, 0.5); /* increase opacity on hover */
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .searchBar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: 500;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
